rabbit_logs1/connection.log
rabbit_logs1/rabbit@rabbitmq1.log
rabbit_logs1/rabbit@rabbitmq1.log.0
rabbit_logs3/connection.log
rabbit_logs3/rabbit@rabbitmq3.log
rabbit_logs3/rabbit@rabbitmq3.log.0
rabbit_logs2/connection.log
rabbit_logs2/erl_crash.dump
rabbit_logs2/rabbit@rabbitmq2.log
rabbit_logs2/rabbit@rabbitmq2.log.0
grafana_dashboards/Erlang-Distribution.json
grafana_dashboards/Erlang-Distributions-Compare.json
grafana_dashboards/Erlang-Memory-Allocators.json
grafana_dashboards/rabbitmq-exporter_vs_rabbitmq-prometheus.json
grafana_dashboards/RabbitMQ-Overview.json
grafana_dashboards/RabbitMQ-PerfTest.json
grafana_dashboards/RabbitMQ-Quorum-Queues-Raft.json
dashboards/Erlang-Distribution.json
dashboards/Erlang-Distributions-Compare.json
dashboards/Erlang-Memory-Allocators.json
dashboards/rabbitmq-exporter_vs_rabbitmq-prometheus.json
dashboards/RabbitMQ-Overview.json
dashboards/RabbitMQ-PerfTest.json
dashboards/RabbitMQ-Quorum-Queues-Raft.json
